body {
    margin: 0;
    padding: 0;
    background-color: #FAF8F9;
}

.section-header nav .container {
    font-family: 'PoppinsSemiBold';
}

.section-header nav .container .navbar-brand {
    font-size: 28px;
}

.section-header nav .container .navbar-brand span {
    margin-left: 10px;
}

.section-header nav .container #navbarMenus {
    font-family: 'PoppinsMedium';
}

.section-header a.bgr-dark {
    border-radius: 15px;
}

#sidebar ul li a {
    color: #121212 !important;
}

#sidebar ul li.active {
    background: #fff !important;
}

#sidebar ul li.active a {
    color: #6491EE !important;
}

main.content h1.title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #121212;
}

main.content h2.title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    color: #121212;
}

main.content #my-class span {
    font-family: "NotoSans";
    color: #FAF8F9;
    font-size: 11px;
}

main.content #class-done-card h5.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: right;

    color: #121212;
}

main.content #class-done-card img {
    width: 275px;
}

main.content #class-done-card .card-body {
    background-color: #121212;
    border-radius: 15px;
}

main.content #class-done-card .card-body span {
    font-family: "NotoSans";
    color: #FAF8F9;
    font-size: 16px;
}

main.content #my-profile .card {
    /* z-index: -1; */
}

main.content #my-profile .card-header {
    background: url("/assets/images/bg-card-header.png") 100% no-repeat;
    height: 170px;
    position: relative;
    /* z-index: -1; */
}

main.content #my-profile .card-header a {
    background-color: #FAF8F9;
    font-family: "PoppinsMedium";
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-bottom: 10px;
    z-index: 1 !important;
}

main.content #my-profile .card-body.body {
    z-index: 1 !important;
    margin-top: -100px;
}

main.content #my-profile .card-body.body img {
    z-index: 1 !important;
}

main.content #my-profile .card-body .title {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #121212;
}

main.content #my-profile .card-body .major {
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: rgba(18, 18, 18, 0.5);

}

main.content #my-profile #pills-tab li.nav-item button {
    font-family: 'NotoSans' !important;
    color: #121212 !important;
    opacity: 0.75 !important;
}

main.content #my-profile #pills-tab {
    border-bottom: 0.8px solid rgba(18, 18, 18, 0.5) !important;
    max-width: 340px;
}

main.content #my-profile #pills-tab li.nav-item button {
    width: 146px;
    border: none;
    background: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #121212;

}

main.content #my-profile #pills-tab li.nav-item button.active {
    font-family: 'NotoSansMedium' !important;
    color: #2447F9 !important;
    opacity: 0.75 !important;
    background-color: transparent;
    border-bottom: #2447F9 2px solid !important;
}

main.content #my-profile .tab-content #level .tag {
    border-bottom: 1.8px solid #FFB93C;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    padding: 0 0 10px;
}

main.content #my-profile .tab-content #level #card-1 img {
    max-width: 500px;
}

main.content #my-profile .tab-content #level #card-1.card {
    background-color: #121212;
    border-radius: 15px;
    background: url("/assets/images/bg-card-profile.png") 100% no-repeat;
    background-size: cover;
}

main.content #my-profile .tab-content #level #card-1.card .card {
    background-color: #1B1A1A;
    border-radius: 10px;
    border-bottom: #2D2C2C solid 1.5px;
}

main.content #my-profile .tab-content #level #card-1.card .card-body {
    color: #FAF8F9;
}

main.content #my-profile .tab-content #level #card-1.card .title {
    color: #FAF8F9;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
}

main.content #my-profile .tab-content #level #card-2 img {
    max-width: 500px;
}

main.content #my-profile .tab-content #level #card-2.card {
    background-color: #121212;
    border-radius: 15px;
}

main.content #my-profile .tab-content #level #card-2.card .card {
    background-color: #1B1A1A;
    border-radius: 10px;
    border-bottom: #2D2C2C solid 1.5px;
}

main.content #my-profile .tab-content #level #card-2.card .card-body {
    color: #FAF8F9;
}

main.content #my-profile .tab-content #level #card-2.card h3.title {
    color: #FFB93C;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}

main.content #my-profile .tab-content #level #card-2.card h4.title {
    color: rgba(250, 248, 249, 0.75);
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

main.content #my-profile .tab-content #level #card-2.card h4.title b {
    color: rgba(250, 248, 249);
    font-weight: 600;
}

main.content #my-profile .tab-content #level #card-2.card h4.title span {
    font-weight: 600;
    color: #FFB93C;
}

main.content #my-profile .tab-content #peran h1.title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 22px;
    color: #121212;
}

main.content #my-profile .tab-content #peran .role-main-name h1 b {
    z-index: 1;
    font-family: 'NotoSans';
    font-weight: 700;
    font-size: 96px;
    line-height: 131px;
    text-shadow: 0.6px 0.6px 0 #6491EE, 0.6px -0.6px 0 #6491EE, -0.6px 0.6px 0 #6491EE, -0.6px -0.6px 0 #6491EE, 0.6px 0px 0 #6491EE, 0px 0.6px 0 #6491EE, -0.6px 0px 0 #6491EE, 0px -0.6px 0 #6491EE;
    color: white;
}

main.content #my-profile .tab-content #peran .role-main-name h1 span {
    position: absolute;
    left: 400px;
    color: #121212;
    margin-top: 30px;
    font-family: 'NotoSansBold';
    font-size: 64px;
}


main.content #achievement #card-1 img {
    max-width: 500px;
}

main.content #achievement #card-1.card {
    background-color: #121212;
    border-radius: 15px;
    background: url("/assets/images/bg-card-achievement.png") 100% no-repeat;
    background-size: cover;
}

main.content #achievement #card-1.card .card {
    background-color: #1B1A1A;
    border-radius: 10px;
    border-bottom: #2D2C2C solid 1.5px;
}

main.content #achievement #card-1.card .card-body {
    color: #FAF8F9;
    font-family: 'Poppins';
}

main.content #achievement #card-1.card .title {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 66px;
    color: #FFB93C;

}

main.content #achievement #card-1.card .description {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.75;
}

main.content #achievement #card-1.card .tag {
    border-bottom: 1.8px solid #FFB93C;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    padding: 0 0 7px;
}

main.content #achievement .subtitle {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

main.content #achievement #card-2 .card {
    background-color: #121212;
    color: #FAF8F9;
    border-radius: 15px;
}

main.content #achievement #card-2 .card h5 {
    color: rgba(250, 248, 249, 0.75);
}

main.content #achievement #card-2 .card h5.tag {
    border-bottom: 1.8px solid #FFB93C;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    padding: 0 0 7px;
}

main.content #achievement #card-2 .card h5.title b {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #FFB93C;
}

main.content #achievement #card-2 .card h5.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: rgba(250, 248, 249, 0.75);
}

main.content #achievement #card-2 .card h5 .bolder {
    color: #FAF8F9;
}

main.content #achievement #card-2 .card a.btn {
    background: #1B1A1A;
    border-radius: 3px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FAF8F9;
}

main.content #achievement #card-2 .card-bottom-gift {
    margin-top: -180px;
}

main.content #badge .card .tag {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #121212;
    border-bottom: 1.8px solid #FFB93C;
    display: inline-block;
    padding: 0 0 4px;
}

main.content #badge .card .title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    color: #121212;
}

main.content #badge .card .description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgba(18, 18, 18, 0.5);

}

main.content #badge #card-2 {
    margin-top: -80px;

}

main.content #badge span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(18, 18, 18, 0.75);
}

main.content #badge span a {
    color: #2447F9;
    font-weight: 600;
    text-decoration: none;
}

main.content #settings h1.title{
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #121212;
}

main.content #settings .col-md-3 {
    border-right: 0.5px solid rgba(18, 18, 18, 0.25);
    padding: 0px 30px 0 0;
}

main.content #settings .setting h5 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

main.content #settings .setting a {
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: rgba(18, 18, 18, 0.5);
}

main.content #settings .setting a.active {
    background: #F3F3F3;
    border-radius: 4px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #6491EE;
    margin-left: -10px;
    padding-left: 10px;
    margin-right: 20px;
}

main.content #settings a b.active {
    background: #FFFFFF;
    border-radius: 15px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #6491EE;
}

main.content #settings .title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: rgba(18, 18, 18, 0.75);
}

main.content #settings label {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: rgba(18, 18, 18, 0.5);
}

main.content #settings input {
    background: #E9EFF6;
    border-radius: 5px;
    height: 35px;
}

main.content #settings .btn {
    border-radius: 5px;
    font-family: 'Poppins';
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

main.content #settings .primary-button {
    background: #6491EE;
    color: #FFFFFF;
}

main.content #settings .alternatif-button {
    color: #6491EE;
    background: #FFFFFF;
}


footer .copyright {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(18, 18, 18, 0.5);
}