body {
    margin: 0;
    padding: 0;
}

.section-header nav .container {
    font-family: 'PoppinsSemiBold';
}

.section-header nav .container .navbar-brand {
    font-size: 28px;
}

.section-header nav .container .navbar-brand span {
    margin-left: 10px;
}

.section-header nav .container #navbarMenus {
    font-family: 'PoppinsMedium';
}

.section-header button.bgr-dark {
    border-radius: 15px;
}

.section-highlight {
    background-image: url('../images/bg-jumbotron.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.section-highlight .title {
    font-size: 62px;
    font-family: 'PoppinsBold';
    border-bottom: 15px solid #FFB93C;
    display: inline-block;
}

.section-highlight .paragraph {
    font-size: 18px;
    font-family: 'NotoSans';
    font-weight: 400;
}

.section-highlight button {
    font-size: 18px;
    border-radius: 10px;
    padding: 10px 30px;

    font-family: 'NotoSans';
    font-weight: 500;
}

.section-learning {
    z-index: 99;
    position: relative;
}

.section-learning .container {
    border-radius: 20px;
    margin-top: -120px;
    background: url('../images/bg-learning.png') 100% no-repeat;
    background-size: cover;
}

.section-learning .tag {
    font-family: 'NotoSansLight';
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.24em;
}

.section-learning .title {
    font-family: 'PoppinsBold';
    font-size: 32px;
    line-height: 48px;
}

.section-learning .paragraph {
    font-family: 'NotoSans';
    font-size: 18px;
    line-height: 24px;
}

.section-learning button {
    border-radius: 15px;
    padding: 10px 25px;
    font-size: 18px;
    font-family: 'NotoSans';
    font-weight: 500;
}

.section-learning .card {
    background-color: #1B1A1A;
    font-family: 'NotoSans';
    font-size: 16px;
}

.section-role .tag {
    font-family: 'NotoSansLight';
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.24em;
}

.section-role .title {
    font-family: 'PoppinsBold';
    font-size: 32px;
    line-height: 48px;
}

.section-role #roles a {
    text-decoration: none;
    font-size: 24px;
    font-family: 'PoppinsMedium';
    color: #121212;
}

.section-role #roles a.active img {
    position: relative;
    margin-top: -35px;
}

.section-role #roles a.active span {
    z-index: -1;
    color: #FAF8F9;
    margin-left: -50px;
    padding: 17px 40px;
    background-color: #121212;
    border-radius: 10px;
}

.section-role .accordion-item {
    border: none;
    background: transparent !important;
}

.section-role .accordion-button {
    color: #121212;
    background-color: transparent;
    border: none !important;
    font-size: 18px;
    font-family: 'NotoSansSemiBold';
}

.section-role .accordion-body {
    color: #121212;
    background-color: transparent;
    border: none !important;
    font-size: 16px;
    font-family: 'NotoSans';
    opacity: 0.75;
}

.section-role .accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.section-role .accordion-button.collapsed::after {
    background-image: url("../icons/plus.png");
}

.section-role .accordion-button:not(.collapsed)::after {
    background-image: url("../icons/plus.png");
}

.section-role h1 {
    font-size: 60px;
    position: relative;
    margin: 10px;
}

.section-role h1 b {
    z-index: 1;

    font-family: 'NotoSans';
    font-weight: 700;
    font-size: 96px;
    line-height: 131px;
    text-shadow: 0.6px 0.6px 0 #6491EE, 0.6px -0.6px 0 #6491EE, -0.6px 0.6px 0 #6491EE, -0.6px -0.6px 0 #6491EE, 0.6px 0px 0 #6491EE, 0px 0.6px 0 #6491EE, -0.6px 0px 0 #6491EE, 0px -0.6px 0 #6491EE;
    color: white;
}

.section-role h1 span {
    position: absolute;
    left: 400px;
    color: #121212;
    margin-top: 30px;
    font-family: 'NotoSansBold';
    font-size: 64px;
}

.section-profile-1 {
    background: url('../images/bg-about-1.png') 100%no-repeat;
    background-size: contain;
}

.section-profile-1 img {
    width: 460px;
}

.section-profile-1 .tag {
    font-family: 'NotoSansLight';
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.24em;
}

.section-profile-1 .title {
    font-family: 'PoppinsBold';
    font-size: 32px;
    line-height: 48px;
}

.section-profile-1 .paragraph {
    font-family: 'NotoSans';
    font-size: 18px;
    line-height: 24px;
}

.section-profile-1 button {
    border-radius: 15px;
    padding: 10px 25px;
    font-size: 18px;
    font-family: 'NotoSans';
    font-weight: 500;
}

.section-profile-2 {
    background: url('../images/bg-about-2.png') 100% no-repeat;
    background-size: contain;
}

.section-profile-2 img {
    width: 460px;
}

.section-profile-2 .tag {
    font-family: 'NotoSansLight';
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.24em;
}

.section-profile-2 .title {
    font-family: 'PoppinsBold';
    font-size: 32px;
    line-height: 48px;
}

.section-profile-2 .paragraph {
    font-family: 'NotoSans';
    font-size: 18px;
    line-height: 24px;
}

.section-profile-2 button {
    border-radius: 15px;
    padding: 10px 25px;
    font-size: 18px;
    font-family: 'NotoSans';
    font-weight: 500;
}

.section-profile-2 img {
    width: 400px;
}


.section-course .tag {
    font-family: 'NotoSansLight';
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.24em;
}

.section-course .title {
    font-family: 'PoppinsBold';
    font-size: 32px;
    line-height: 48px;
}

.section-course button {
    background: rgba(18, 18, 18, 0.1);
    border-radius: 10px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    width: 166px;
    text-align: center;

    color: rgba(18, 18, 18, 0.75);
}

.section-course .container .row .row .col-md-4 {
    position: relative;
}

.section-course .container .row .row .col-md-4 .card{
    border: none;
    border-radius: 10px;
}

.section-course .container .col-md-4 .card .label{
    position:absolute;
    left: 20px;
    top:20px;
    font-family: 'NotoSans';
    font-size: 14px;
    color: #FAF8F9;
    background-color: #2447F9;
    border-radius: 7px;
    width: 81px;
    text-align: center;
}

.section-course .container .col-md-4 .card .title {
    font-family: 'NotoSansMedium';
    color: #121212;
    font-size: 28px;
    line-height: 38px;
}

.section-course .container .col-md-4 .card .category {
    font-family: 'NotoSansMedium';
    color: #121212;
    font-size: 18px;
    line-height: 24px;
}

.section-course .container .col-md-4 .card .description {
    font-family: 'NotoSans';
    color: #121212;
    opacity: 0.75;
    font-size: 16px;
    line-height: 22px;
}

.section-course .container .col-md-4 .card .d-flex a {
    color: #FAF8F9;
    font-family: 'NotoSansSemiBold';
    font-size: 18px;
    line-height: 24px;
}

.section-course .container .col-md-4 .card .d-grid a {
    color: #FAF8F9;
    font-family: 'NotoSansSemiBold';
    font-size: 18px;
    line-height: 24px;
}