body {
    margin: 0;
    padding: 0;
    background-color: #FAF8F9;
}

.section-header nav .container {
    font-family: 'PoppinsSemiBold';
}

.section-header nav .container .navbar-brand {
    font-size: 28px;
}

.section-header nav .container .navbar-brand span {
    margin-left: 10px;
}

.section-header nav .container #navbarMenus {
    font-family: 'PoppinsMedium';
}

.section-header button.bgr-dark {
    border-radius: 15px;
}

.section-highlight {
    background-image: url('../images/bg-jumbotron.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.section-highlight .title {
    font-size: 62px;
    font-family: 'PoppinsBold';
    border-bottom: 15px solid #FFB93C;
    display: inline-block;
}

.section-highlight .paragraph {
    font-size: 18px;
    font-family: 'NotoSans';
    font-weight: 400;
}

.section-highlight button {
    font-size: 18px;
    border-radius: 10px;
    padding: 10px 30px;

    font-family: 'NotoSans';
    font-weight: 500;
}

.section-learning {
    z-index: 99;
    position: relative;
}

.section-learning .container {
    border-radius: 20px;
    margin-top: -130px;
    background: url('../images/bg-learning.png') 100% no-repeat;
    background-size: cover;
}

.section-learning .tag {
    font-family: 'NotoSansLight';
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.24em;
}

.section-learning .title {
    font-family: 'PoppinsBold';
    font-size: 32px;
    line-height: 48px;
}

.section-learning .paragraph {
    font-family: 'NotoSans';
    font-size: 18px;
    line-height: 24px;
}

.section-learning button {
    border-radius: 15px;
    padding: 10px 25px;
    font-size: 18px;
    font-family: 'NotoSans';
    font-weight: 500;
}

.section-learning .card {
    background-color: #1B1A1A;
    font-family: 'NotoSans';
    font-size: 16px;
}

.section-role .tag {
    font-family: 'NotoSansLight';
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.24em;
}

.section-role .title {
    font-family: 'PoppinsBold';
    font-size: 32px;
    line-height: 48px;
}

.section-role #roles a {
    text-decoration: none;
    font-size: 24px;
    font-family: 'PoppinsMedium';
    color: #121212;
}

.section-role #roles a.active img {
    position: relative;
    margin-top: -35px;
}

.section-role #roles a.active span {
    z-index: -1;
    color: #FAF8F9;
    margin-left: -50px;
    padding: 17px 40px;
    background-color: #121212;
    border-radius: 10px;
}

.section-role .accordion-item {
    border: none;
    background: transparent !important;
}

.section-role .accordion-button {
    color: #121212;
    background-color: transparent;
    border: none !important;
    font-size: 18px;
    font-family: 'NotoSansSemiBold';
}

.section-role .accordion-body {
    color: #121212;
    background-color: transparent;
    border: none !important;
    font-size: 16px;
    font-family: 'NotoSans';
    opacity: 0.75;
}

.section-role .accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.section-role .accordion-button.collapsed::after {
    background-image: url("../icons/plus.png");
}

.section-role .accordion-button:not(.collapsed)::after {
    background-image: url("../icons/plus.png");
}

.section-role h1 {
    font-size: 60px;
    position: relative;
    margin: 10px;
}

.section-role h1 b {
    z-index: 1;

    font-family: 'NotoSans';
    font-weight: 700;
    font-size: 96px;
    line-height: 131px;
    text-shadow: 0.6px 0.6px 0 #6491EE, 0.6px -0.6px 0 #6491EE, -0.6px 0.6px 0 #6491EE, -0.6px -0.6px 0 #6491EE, 0.6px 0px 0 #6491EE, 0px 0.6px 0 #6491EE, -0.6px 0px 0 #6491EE, 0px -0.6px 0 #6491EE;
    color: white;
}

.section-role h1 span {
    position: absolute;
    left: 400px;
    color: #121212;
    margin-top: 30px;
    font-family: 'NotoSansBold';
    font-size: 64px;
}

.section-profile-1 {
    background: url('../images/bg-about-1.png') 100%no-repeat;
    background-size: contain;
}

.section-profile-1 img {
    width: 460px;
}

.section-profile-1 .tag {
    font-family: 'NotoSansLight';
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.24em;
}

.section-profile-1 .title {
    font-family: 'PoppinsBold';
    font-size: 32px;
    line-height: 48px;
}

.section-profile-1 .paragraph {
    font-family: 'NotoSans';
    font-size: 18px;
    line-height: 24px;
}

.section-profile-1 button {
    border-radius: 15px;
    padding: 10px 25px;
    font-size: 18px;
    font-family: 'NotoSans';
    font-weight: 500;
}

.section-profile-2 {
    background: url('../images/bg-about-2.png') 100% no-repeat;
    background-size: contain;
    position: relative;
}

.section-profile-2 img {
    position: absolute;
    bottom: 60px;
    width: 380px;
    right: 80px;
}

.section-profile-2 .tag {
    font-family: 'NotoSansLight';
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.24em;
}

.section-profile-2 .title {
    font-family: 'PoppinsBold';
    font-size: 32px;
    line-height: 48px;
}

.section-profile-2 .card .title {
    font-family: 'NotoSansMedium';
    font-size: 18px;
    line-height: 27px;
}

.section-profile-2 .card .description {
    font-family: 'NotoSans';
    font-size: 13px;
    line-height: 20px;
}

.section-profile-2 button {
    border-radius: 15px;
    padding: 10px 25px;
    font-size: 18px;
    font-family: 'NotoSans';
    font-weight: 500;
}

.section-profile-2 .card img {
    width: 60px;
    bottom: 0px;
    position: relative;
    right: 0px;
}

.section-profile-2 .card {
    border: none;
    border-radius: 10px;
}


.section-course .tag {
    font-family: 'NotoSansLight';
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.24em;
}

.section-course .title {
    font-family: 'PoppinsBold';
    font-size: 32px;
    line-height: 48px;
}

.section-course button {
    background: rgba(18, 18, 18, 0.1);
    border-radius: 10px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    width: 166px;
    text-align: center;

    color: rgba(18, 18, 18, 0.75);
}

.section-course .container .row .row .col-md-4 {
    position: relative;
}

.section-course .container .row .row .col-md-4 .card {
    border: none;
    border-radius: 10px;
}

.section-course .container .col-md-4 .card .label {
    position: absolute;
    left: 20px;
    top: 20px;
    font-family: 'NotoSans';
    font-size: 14px;
    color: #FAF8F9;
    background-color: #2447F9;
    border-radius: 7px;
    width: 81px;
    text-align: center;
}

.section-course .container .col-md-4 .card .title {
    font-family: 'NotoSansMedium';
    color: #121212;
    font-size: 28px;
    line-height: 38px;
}

.section-course .container .col-md-4 .card .category {
    font-family: 'NotoSansMedium';
    color: #121212;
    font-size: 18px;
    line-height: 24px;
}

.section-course .container .col-md-4 .card .description {
    font-family: 'NotoSans';
    color: #121212;
    opacity: 0.75;
    font-size: 16px;
    line-height: 22px;
}

.section-course .container .col-md-4 .card .d-flex a {
    color: #FAF8F9;
    font-family: 'NotoSansSemiBold';
    font-size: 18px;
    line-height: 24px;
}

.section-course .container .col-md-4 .card .d-grid a {
    color: #FAF8F9;
    font-family: 'NotoSansSemiBold';
    font-size: 18px;
    line-height: 24px;
}

.section-hero {
    background: url('../images/bg-hero.png') 100% no-repeat;
    background-size: cover;
    color: #FAF8F9;
}

.section-hero .container {
    background: url('../images/bg-jumbotron-hero.png') 100% no-repeat;
    background-size: cover;
}


.section-hero .title {
    font-family: 'PoppinsBold';
    font-size: 32px;
    line-height: 48px;
}

.section-hero .paragraph {
    font-family: 'NotoSans';
    font-size: 18px;
    line-height: 24px;
}

.section-hero button {
    border-radius: 15px;
    padding: 10px 25px;
    font-size: 18px;
    font-family: 'NotoSans';
    font-weight: 500;
}

.section-sponsor {
    background-color: #121212;
    opacity: 0.75;
}

.section-sponsor img {
    max-width: 151px;
}

footer h1 {
    font-family: 'PoppinsSemiBold';
    color: #FAF8F9;
    font-size: 28px;
}

footer {
    background-color: #121212;
    font-family: 'Poppins';
    color: #FAF8F9;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
}

footer ul li {
    list-style: none;
    margin-left: -30px;
    margin-top: 15px;
}

footer .copyright {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: #FAF8F9;
    opacity: 0.5;
}

footer img {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

/* PAGES COURSE */

.section-jumbotron {
    background: url('../images/bg-jumbotron-course.png') 100% no-repeat;
    background-size: cover;
    color: #FAF8F9;
    position: relative;
}

.section-jumbotron .title {
    font-family: 'NotoSansBold';
    font-size: 72px;
    border-bottom: 10px solid #FFB93C;
    display: inline-block;
}

.section-jumbotron .description {
    font-family: 'NotoSansSemiBold';
    font-size: 32px;
}

.section-jumbotron .paragraph {
    font-family: 'NotoSans';
    font-size: 20px;
    opacity: 0.75;
}

.section-jumbotron button {
    font-family: 'NotoSansSemiBold';
    font-size: 20px;
    color: #2447F9;
    background-color: #FAF8F9 !important;
    border-radius: 10px;
}

.section-jumbotron img {
    position: absolute;
    width: 300px;
    bottom: 0;
    right: 0;
}

.section-courses {
    color: #121212;
}

.section-courses .input-group {
    font-family: 'NotoSansMedium';
    font-size: 18px;
    opacity: 0.75;
    line-height: 25px;
    border-radius: 10px;
}

.section-courses .input-group input {
    border-radius: 10px;
}

.section-courses .input-group span {
    border-radius: 10px;
}

.section-courses select {
    font-family: 'NotoSansMedium';
    font-size: 18px;
    opacity: 0.75;
    line-height: 25px;
    border-radius: 10px;
    padding: 11px;
}

.section-courses button {
    background-color: #2447F9;
    color: #FAF8F9;
    padding: 11px;
    font-size: 18px;
    font-family: 'NotoSans';
    font-weight: 500;
    line-height: 25px;
}

.section-courses .result {
    font-family: 'Poppins';
    font-size: 32px;
    line-height: 48px;
    font-weight: 500;
}

.section-courses .related {
    font-family: 'NotoSans';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    opacity: 0.75;

}

.section-courses .results {
    color: #2447F9;
}

.section-courses #tags {
    font-family: 'NotoSans';
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.section-courses #tags .active {
    color: #6491EE;
    border-bottom: 2.5px solid #6491EE;
    display: inline-block;
}

.section-course .show {
    opacity: 0.5;
    font-family: 'NotoSansMedium';
}

.section-course select {
    font-family: 'NotoSansSemiBold';
}

.section-course span.data {
    font-family: 'NotoSansSemiBold';
}

.section-course #paginate button {
    width: 50px;
    font-family: 'NotoSansSemiBold';
    font-size: 16px;
    line-height: 22px;
    opacity: 0.75;
    background-color: #FAF8F9;
    border: 0.2px solid rgba(18, 18, 18, 0.5);
    box-sizing: border-box;
    box-shadow: 6px 6px 35px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.section-course #paginate button.active {
    width: 50px;
    font-family: 'NotoSansSemiBold';
    font-size: 16px;
    line-height: 22px;
    color: #6491EE;
    opacity: 0.75;
    background-color: #FAF8F9;
    border: 1px solid #6491EE;
    box-sizing: border-box;
    box-shadow: 6px 6px 35px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.section-course #paginate button.actives {
    width: 50px;
    font-family: 'NotoSansSemiBold';
    font-size: 16px;
    line-height: 22px;
    color: #FAF8F9;
    opacity: 0.75;
    background-color: #6491EE;
    border: 1px solid #FAF8F9;
    box-sizing: border-box;
    box-shadow: 6px 6px 35px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.section-testimonial {
    background: url('../images/bg-testimonial.png') 100% 100% no-repeat;
    background-size: cover;
}

.section-testimonial .tag {
    color: #FAF8F9;
    font-family: 'NotoSans';
    font-size: 20px;
    line-height: 27px;
}

.section-testimonial .title {
    color: #FAF8F9;
    font-family: 'NotoSans';
    font-weight: 500;
    font-size: 48px;
    line-height: 65px;
}

.section-testimonial .card .title {
    color: #121212;
    font-family: 'PoppinsMedium';
    font-size: 24px;
    line-height: 36px;
}

.section-testimonial .card .stars {
    color: #FFB93C;
}

.section-testimonial .card .paragraph {
    font-family: 'Poppins';
    font-size: 14px;
    color: #121212;
    opacity: 0.5;
    line-height: 24px;
}

.section-testimonial .card .name {
    font-family: 'PoppinsMedium';
    font-size: 16px;
    color: #121212;
    line-height: 24px;
}

.section-jumbotron-detail .title {
    font-family: 'PoppinsBold';
    font-size: 32px;
    line-height: 48px;
    color: #121212;
}

.section-jumbotron-detail .paragraph {
    font-family: 'NotoSans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #121212;
    opacity: 0.5;
}

.section-jumbotron-detail button {
    background: rgba(55, 101, 196, 0.25);
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #2447F9;
    width: auto;
}

.section-jumbotron-detail h5.tag {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    font-family: 'NotoSans';
    color: #121212;
    opacity: 0.75;
}

.section-jumbotron-detail h5.title {
    font-size: 20px;
    line-height: 30px;
    font-family: 'PoppinsBold';
    color: #121212;
}

.section-jumbotron-detail h5.star {
    color: #FFB93C;
}

.section-jumbotron-detail .row #pills-tab li.nav-item button {
    font-family: 'NotoSans' !important;
    color: #121212 !important;
    opacity: 0.75 !important;
}

.section-jumbotron-detail .row #pills-tab {
    border-bottom: 0.8px solid rgba(18, 18, 18, 0.5) !important;
}

.section-jumbotron-detail .row #pills-tab li.nav-item button.active {
    font-family: 'NotoSansMedium' !important;
    color: #2447F9 !important;
    opacity: 0.75 !important;
    background-color: transparent;
    border-bottom: #2447F9 2px solid !important;
    width: 100px;
}

.section-jumbotron-detail .row .tab-content .title {
    font-family: 'NotoSansSemiBold';
    color: #121212;
    opacity: 0.75;
    font-size: 20px;
    line-height: 28px;
}

.section-jumbotron-detail .row .tab-content .subtitle {
    font-family: 'NotoSansMedium';
    color: #121212;
    opacity: 0.75;
    line-height: 24px;
    font-size: 18px;
}

.section-jumbotron-detail .row .tab-content button {
    font-family: 'NotoSansMedium';
    color: #FAF8F9;
    line-height: 24px;
    font-size: 18px;
    background-color: #2447F9;
}

.section-jumbotron-detail .row .tab-content .paragraph {
    font-family: 'NotoSans';
    color: #121212;
    opacity: 0.75;
    font-weight: 400;
    font-size: 16px;
    line-height: 166.2%;
}

.section-jumbotron-detail .row .tab-content .row .col-md-6 {
    font-family: 'NotoSans';
    color: #121212;
    opacity: 0.75;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.section-jumbotron-detail .row .tab-content .row .col-md-6 i {
    color: #2447F9;
    opacity: 0.75;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.section-jumbotron-detail .row .tab-content #kuis .card .title {
    color: #fff;
    font-family: 'PoppinsSemiBold';
    font-size: 20px;
    line-height: 26px;
    opacity: 1;
}

.section-jumbotron-detail .row .tab-content #kuis .card a {
    color: #FAF8F9;
    font-family: 'NotoSans';
    font-size: 14px;
}

.section-jumbotron-detail .row .tab-content #kuis .card button {
    color: #121212;
    font-family: 'PoppinsSemiBold';
    font-size: 15px;
    background-color: #FFB93C;
}

.section-jumbotron-detail .row .tab-content #hadiah .title span {
    border-bottom: 2.5px solid #FFB93C;
    display: inline-block;
}

.section-jumbotron-detail .row .tab-content #hadiah .card {
    background-color: #121212;
    border-radius: 10px;
}

.section-jumbotron-detail .row .tab-content #hadiah .card .card {
    background-color: #1B1A1A;
    border-radius: 10px;
    border-bottom: #2D2C2C solid 1.5px;
}

.section-jumbotron-detail .row .tab-content #hadiah .card .card .card-body {
    border-bottom: #2D2C2C solid 1.5px;
}

.section-jumbotron-detail .row .tab-content #hadiah .card .card .title {
    color: #FFB93C;
    font-family: 'PoppinsBold';
    font-size: 48px;
    opacity: 1;
}

.section-jumbotron-detail .row .tab-content #hadiah .card .card-position .title {
    color: #FFB93C;
    font-family: 'PoppinsBold';
    font-size: 64px;
    opacity: 1;
}

.section-jumbotron-detail .row .tab-content #hadiah .card .card .tag {
    color: #5A5959;
    font-family: 'Poppins';
    font-size: 14px;
}

.section-jumbotron-detail .row .tab-content #hadiah .card .card .title span {
    color: #FAF8F9;
    font-family: 'PoppinsBold';
    font-size: 32px;
    border: none;
}

.section-jumbotron-detail .row .tab-content #hadiah .card .card p {
    color: #5A5959;
    font-family: 'Poppins';
    font-size: 12px;
}

.section-jumbotron-detail .row .tab-content #hadiah .card .row {
    position: relative;
}

.section-jumbotron-detail .row .tab-content #hadiah .card img.img {
    position: absolute;
    width: 350px;
    bottom: -30px;
    right: -100px;
}

.section-jumbotron-detail .row .tab-content #hadiah .card-2 {
    opacity: 1 !important;
    position: absolute;
    left: 0px;
    bottom: 0px;
}


.section-jumbotron-detail .row .tab-content #ulasan .row .card .title {
    color: #121212;
    font-family: 'PoppinsMedium';
    font-size: 24px;
    line-height: 36px;
}

.section-jumbotron-detail .row .tab-content #ulasan .row .row .card .row span.stars i {
    color: #FFB93C;
}

.section-jumbotron-detail .row .tab-content #ulasan .row .row .card .paragraph {
    font-family: 'Poppins';
    font-size: 14px;
    color: #121212;
    opacity: 0.5;
    line-height: 24px;
}

.section-jumbotron-detail .row .tab-content #ulasan .row .row .card .name {
    font-family: 'PoppinsMedium';
    font-size: 16px;
    color: #121212;
    line-height: 24px;
}

.section-learning-detail a {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: rgba(18, 18, 18, 0.5);
}

.section-learning-detail .title {
    font-family: 'PoppinsBold';
    font-size: 36px;
    line-height: 54px;
    color: #121212;
}

.section-learning-detail button {

    background: rgba(55, 101, 196, 0.25);
    border-radius: 5px;

    font-family: 'PoppinsSemiBold';
    font-size: 16px;
    line-height: 27px;
    color: #2447F9;
}

.section-learning-detail img {
    border-bottom: 0.8px solid rgba(18, 18, 18, 0.5);
    padding: 0 0 40px;
}

.section-learning-detail .paragraph {
    font-family: 'NotoSans';
    font-weight: 400;
    color: #121212;
    opacity: 0.5;
    font-size: 18px;
    line-height: 25px;
}

.section-detail-learning .title {
    font-family: 'NotoSansSemiBold';
    color: #121212;
    opacity: 0.75;
    font-size: 20px;
    line-height: 28px;
}

.section-detail-learning .paragraph {
    font-family: 'NotoSans';
    color: #121212;
    opacity: 0.75;
    font-weight: 400;
    font-size: 16px;
    line-height: 166.2%;
}

.section-detail-learning .row span {
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.section-detail-learning .row i {
    color: #2447F9;
    opacity: 0.75;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.section-detail-learning .row {
    font-family: 'NotoSansSemiBold';
    color: #121212;
    opacity: 0.75;
    font-size: 20px;
    line-height: 28px;
    opacity: 1;
}

.section-detail-learning .row .subtitle {
    font-family: 'NotoSansMedium';
    color: #121212;
    opacity: 0.75;
    line-height: 24px;
    font-size: 18px;
}

.section-detail-learning .row button {
    font-family: 'NotoSansMedium';
    color: #FAF8F9;
    line-height: 24px;
    font-size: 18px;
    background-color: #2447F9;
}

.section-tutorial .title {
    font-family: 'PoppinsBold';
    font-size: 32px;
    line-height: 48px;
    color: #121212;
}

.section-tutorial .paragraph {
    font-family: 'NotoSans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #121212;
    opacity: 0.5;
}

.section-tutorial button {
    background: rgba(55, 101, 196, 0.25);
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #2447F9;
    width: auto;
}

.section-tutorial .row .title-row {
    font-family: 'NotoSansSemiBold';
    color: #121212;
    opacity: 0.75;
    font-size: 20px;
    line-height: 28px;
}

.section-tutorial .row .subtitle-row {
    font-family: 'NotoSansMedium';
    color: #121212;
    opacity: 0.75;
    line-height: 24px;
    font-size: 18px;
}

.section-tutorial .row button {
    font-family: 'NotoSansMedium';
    color: #FAF8F9;
    line-height: 24px;
    font-size: 18px;
    background-color: #2447F9;
}

.section-tutorial .row .paragraph-row {
    font-family: 'NotoSans';
    color: #121212;
    opacity: 0.75;
    font-weight: 400;
    font-size: 16px;
    line-height: 166.2%;
}

.section-tutorial .row .row {
    font-family: 'NotoSans';
    color: #121212;
    opacity: 0.75;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.section-tutorial .row .row i {
    color: #2447F9;
    opacity: 0.75;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.section-about-us #about-us-1 {
    background: url('../images/bg-about-us.png') 100% 100% no-repeat;
    background-size: cover;
}

.section-about-us .title-main {
    font-family: 'PoppinsBold';
    font-size: 40px;
    line-height: 60px;
    color: #121212;
}

.section-about-us .title {
    font-family: 'PoppinsMedium';
    font-size: 20px;
    line-height: 30px;
    color: #121212;
}

.section-about-us .paragraph-main {
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 27px;
    color: #121212;
    opacity: 0.75;
}

.section-about-us .paragraph {
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 166.2%;
    color: #121212;
    opacity: 0.75;
}

.section-about-us .row .row i {
    color: #2447F9;
    opacity: 0.75;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.section-about-us #about-us-2 {
    background: url('../images/bg-about-us-2.png') 100% 100% no-repeat;
    background-size: contain;
}
.section-about-us #about-us-2 .title {
    font-family: 'PoppinsSemiBold';
    font-size: 20px;
    line-height: 125.5%;
    color: #34364A;
}

.section-about-us #about-us-2 .text {
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 24px;
    color: #34364A;
}

.section-about-us #about-us-2 a i{
    color: #34364A;
    font-size: 21px;
    border-radius: 5px;
}

.section-about-us #about-us-2 .card img{
    width: 212px;
}